@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #333;
}
/*=============HEADER========*/
header{}

.wrapper{
    width: 80%;
    
}

.logo{
    margin: 5px 0;
}
.logo img{
    display: block;
    height: 80px;
}
/*==============NAV==========*/
nav{}
nav a{
    padding: 15px 50px;
    display: inline-block;
    background-color:#f2bc5e;
    color: #0c0a0b;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 23%;
}
nav a:hover, .active{
    background-color: #e0d8c3;
    color: #0c0a0b;
}
/*=========BANNER=======*/
#banner{
    position: relative;
}
#banner img{
    width: 100%;
    display: block;
}
.info{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}
.info h2{
    color: #f2bc5e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    padding-top: 30px;
    
}
/*=======TRAILER MODAL==========*/
.trailer a{
    background-color:black;
    color: white;
    padding: 15px 0px;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 10%;

}
.trailer a:hover{
    background-color: blue;
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: brown;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.modal h1{
    color: #f2bc5e;
    font-size: 30px;
}
/* ===== TRAILER MODAL VISIBLE  ON CLICK =====*/

.modal:target{
    visibility: visible;
    opacity: 1;
}
/* ===== TRAILER MODAL CONTENTS =====*/
.modalcontent {
    position: relative;
    width: 500px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
    background-color: #fff;
}
.modalclose{
    position: absolute;
    top: 0;
    right: 15px;
    color: black;
    text-decoration: none;
    font-size: 36px;
}

/*==========CONTETNT=====*/
#content h3{
    font-size:40px;
    color:  #f2bc5e;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*=============BOXES===========*/
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    width: 100%;
}
.box{
    padding: 10px;
    flex: 22.2%;

}
.box img{
    width: 100%;
}
.box h4 a{
    color: #f2bc5e;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    text-align:center;
}
.box h4 a:hover{
    color: red;
}
.watch_trailer{
    background-color:black;
    color: white;
    padding: 15px 0px;
    display: block;
    text-decoration: none;
    text-align: center;
}
.watch_trailer:hover{
    background-color: blue;
    cursor: pointer;
}
/*==========MAP=================*/
.map{
    padding: 10px 0;
}

/*==========FOOTER SECTION===============*/
footer{
    padding: 30px 0;
    background-color: #f2bc5e;
}
.footer_boxes{
    display: flex;
    width: 100%;
}
.footer_box{
    width: 33.3%;
}
.footer_box h5{
    color: aliceblue;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px;
}
.footer_box p{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    
}
.foot_menu{
    padding-left: 25px;
    font-size: 18px;
}
.foot_menu a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
}
.foot_menu a:hover{
    color: red;
    cursor: pointer;
}
/*========Login=======*/
.login_form{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .login_form h2{
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .login_form h2::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
  }
  .login_form{
    margin-top: 30px;
  }
  .login_form .input-box{
    height: 52px;
    margin: 18px 0;
  }
  form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070f4;
  }
  form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #0e4bf1;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #4070f4;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }

/*==========SIGNUP FORM================*/
.signup_form{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.signup_form h2{
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.signup_form h2::before{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.signup_form{
  margin-top: 30px;
}
.signup_form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
/*==========COPYRIGHT==========*/
.copyright p{
    text-align: center;
    padding: 5px 0;
    background-color: #f2bc5e;
    font-size: 14px;
}